@{
    ViewData["Title"] = "Home Page";
}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Janitra
            </h1>
            <h2 class="subtitle">
                Needs a cool logo
            </h2>
        </div>
    </div>
</section>

Hello World Maybe