@{
    ViewData["Title"] = "Login";
}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Log In
            </h1>
        </div>
    </div>
</section>
<section class="section">
    This will log you in using github. If you are not a developer there is no need to log in.<br/>

    <a asp-action="Github" class="button">Log in using github</a>
</section>