
/* Image Diff Viewer */
.image-diff {
    width: 100%;
    max-width: 1800px;
}
.image-diff img {
    image-rendering: pixelated;
}
.image-diff .diff-left, .image-diff .diff-right {
    width: 400px;
}
.image-diff .diff-container img {
    width: 100%;
}