@model IEnumerable<Janitra.Data.Models.TestDefinition>

@{
    ViewData["Title"] = "Tests List";
}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Test Definitions
            </h1>
            <h2 class="subtitle">
                All of the tests that are run against Citra
            </h2>
        </div>
    </div>
</section>
<table class="table" style="width: 100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Notes</th>
            <th>Added At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <td style="white-space: nowrap"><a asp-action="View" asp-route-id="@test.TestDefinitionId">@test.TestName</a></td>
                <td>@test.Notes</td>
                <td style="white-space: nowrap">@test.AddedAt.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>